<div id="chronology-component" class="">
    <!-- have these both as panel-header just as a kluge to get the tabs to look
    decent without bigger rewrite/investigation -->
    <div id="chronology-header" class="chronology-header panel-header">
        <i><p id="chronology-text">loading...</p></i>
        <p id="chronology-description">chronology description loading...</p>
        <!-- <div id="chronology-header-tabs" class="chronology-header-tabs panel-header"> -->
        <!-- looks something like this atow when dynamically added -->
        <!--
            <span id="chronology-tab-button-{addr}" class="panel-tab-button active" title="untitled">
                untitled
            </span>
            -->
        <!-- </div> -->
        <!-- <button id="chronology-header-add-btn" class="tab-btn">+</button> -->
    </div>

    <div id="chronology-content">
       <div id="chronology-content-items">
           <!-- this is where the individual items will be loaded -->
       </div>
    </div>

    <div id="chronology-footer" class="chronology-footer">
    </div>
</div>
