<div id="web1-page-funding" class="web1-page">
    <button id="funding-jump-to-how-btn">jump to how to fund ibgib...</button>
    <article>

        <section>

            <aside>
                Tick. Tock. Tick. Tock.
            </aside>

            <p>

                Currently "ibgib" is an assumed name, here in San Antonio, TX,
                with next to zero funding, all the while being a ridiculously
                ENORMOUS opportunity. Fortunately, git's monopoly is so
                ABSOLUTE, we are still in no danger of being beaten to the punch
                of genuinely effective AI tools. But the clock is ticking.

            </p>


        </section>

        <section>
            <h2>funding received so far</h2>

            <aside>

                <p>
                    total: <span id="funding-received-so-far">100</span>
                </p>

            </aside>

            <p>As of <time datetime="2025-03-21">2025/03/21</time>), ONE charitable soul has funded us!😮😮😮</p>
            <p>

                Be the SECOND to fund a lifelong project from a certified,
                <i>slightly</i> mad genius.

            </p>

        </section>

        <section class="financial-section">
            <h2>funding breakdown, aka supporters</h2>

            <table>
                <thead>
                    <tr>
                        <th>When</th>
                        <th>Who</th>
                        <th>What</th>
                        <th>Comments</th>
                    </tr>
                </thead>
                <tbody id="funding-supporters-table-body">
                    <tr>
                        <td><time datetime="2025-03-21">2025/03/21</time></td>
                        <td>AG</td>
                        <td>$100</td>
                        <td>The Very First!! Thank you AG!</td>
                    </tr>
                </tbody>
            </table>

        </section>

        <section class="financial-section">
            <h2>other funding, expenditures</h2>

            <table>
                <thead>
                    <tr>
                        <th>When</th>
                        <th>Who</th>
                        <th>What</th>
                        <th>Comments</th>
                    </tr>
                </thead>
                <tbody id="funding-supporters-table-body">
                    <tr>
                        <td><time datetime="2025-03-11">2025/03/11</time></td>
                        <td>KA</td>
                        <td>$5</td>
                        <td>Test</td>
                    </tr>
                    <tr>
                        <td><time datetime="2025-03-11">2025/03/11</time></td>
                        <td>KA</td>
                        <td>$20</td>
                        <td>Assumed name</td>
                    </tr>
                    <tr>
                        <td><time datetime="2025-03-14">2025/03/14</time></td>
                        <td>COUNTY OF BEXAR COUNTY</td>
                        <td>-$21</td>
                        <td>Assumed name</td>
                    </tr>
                    <tr>
                        <td><time datetime="2025-03-14">2025/03/14</time></td>
                        <td>MUNICIPAL SERVICE FEE</td>
                        <td>-$0.54</td>
                        <td>Assumed name</td>
                    </tr>
                    <tr>
                        <td><time datetime="2025-03-14">2025/03/14</time></td>
                        <td>MUNICIPAL SERVICE FEE</td>
                        <td>-$0.54</td>
                        <td>Assumed name</td>
                    </tr>
                    <tr>
                        <td><time datetime="2025-03-20">2025/03/20</time></td>
                        <td>KA</td>
                        <td>$125</td>
                        <td>Austin trip for Google Cloud's Build with AI event</td>
                    </tr>
                    <tr>
                        <td><time datetime="2025-03-21">2025/03/21</time></td>
                        <td>HEB Gas</td>
                        <td>-$32.12</td>
                        <td>Gas</td>
                    </tr>
                    <tr>
                        <td><time datetime="2025-03-21">2025/03/21</time></td>
                        <td>500 W 2ND ST GARAG</td>
                        <td>-$36</td>
                        <td>Parking for Google Cloud's Build with AI event</td>
                    </tr>
                    <tr>
                        <td><time datetime="2025-04-08">2025/04/08</time></td>
                        <td>NAME-CHEAP.COM</td>
                        <td>-$68.64</td>
                        <td>Renew domains ibgib.com, .app, .link, .dev</td>
                    </tr>
                    <tr>
                        <td><time datetime="2025-04-09">2025/04/09</time></td>
                        <td>HEB Gas</td>
                        <td>-$40</td>
                        <td>Gas</td>
                    </tr>
                    <tr>
                        <td><time datetime="2025-04-15">2025/04/15</time></td>
                        <td>KA</td>
                        <td>$5</td>
                        <td>GFiber</td>
                    </tr>
                    <tr>
                        <td><time datetime="2025-04-15">2025/04/15</time></td>
                        <td>GOOGLE *FIBER</td>
                        <td>$5</td>
                        <td>GFiber</td>
                    </tr>
                </tbody>
            </table>

        </section>

        <section id="how-to-fund">

            <h2>how to fund ibgib?</h2>
            <aside>
                web1 links are only temporary 😉
            </aside>
            <p>

                Your personal support would be GREATLY appreciated. Please let
                me know if you'd like recognition (initials, full name) or not.
                I will default to anonymous.

            </p>
            <ul>
                <li><a href="https://paypal.me/ibgib">paypal.me/ibgib</a></li>
            </ul>

        </section>

        <section>

            <aside>Would you rather be the King of England or an American Executive?</aside>

            <h2>how to <i><b>invest</b></i> in ibgib?</h2>
            <p>

                I am actively looking for larger, more formal early stage
                funding with the following requirements:

            </p>
            <ul>
                <li>The ibgib protocol itself requires a non-profit company that...
                    <ul>
                        <li>protects the interests of the protocol ecosystem</li>
                        <li>is 100% open source</li>
                        <li>is 100% open data with transparent finances</li>
                        <li>has me, William Raiford, as the CEO.</li>
                    </ul>
                </li>
                <li>Use case, for-profit companies that I personally am involved in must...
                    <ul>
                        <li>dogfood the protocol for...
                            <ul>
                                <li>version control for src, hardware specs
                                    (e.g. cads), models, and other aspects.</li>
                                <li>learning (e.g., company/project onboarding)</li>
                                <li>inter-company communications</li>
                                <li>dev sec ops to the greatest extent possible</li>
                            </ul>
                        </li>
                        <li>employ me at the lowest employee's base salary rate</li>
                        <li>be incentive- and performance-based</li>
                        <li>provide transparent salary/bonus information (again
                            dogfooding the protocol)</li>
                        <li>provide a tenuring mechanism guaranteeing the lowest
                            salary rate for life (as an actually viable alternative
                            to UBI)</li>
                    </ul>
                </li>
                <li><i><b>Genuinely innovative</b></i> use case companies in
                    which I am personally interested include...
                    <ul>
                        <li>solving distributed remuneration</li>
                        <li>ai-based code creation</li>
                        <li>lifelong learning across all domains</li>
                        <li>autonomous iot agents</li>
                    </ul>
                </li>
            </ul>

            <p>

                Essentially, we are going for the sovereign-side of the DAO
                approach. If you are interested, our best path forward is to
                <a href="#/apps/web1/gib/contact.html">contact me</a> to discuss
                how we can best meet your - hopefully excessive - financial
                goals while adhering to the above requirements.

            </p>

        </section>

    </article>
</div>
