<div id="web1-page-about" class="web1-page">

    <article>
        <section>

            <h2>About IbGib Protocol...</h2>

            <aside>

                The ibgib protocol is the culmination of a lifetime of work.

            </aside>

            <p>

                Originally inspired by SuperMemo, automatons and
                information-centric ontology like memes, ibgib has evolved as a <b>unique</b> DLT approach:

            </p>

            <ul>
                <li><b>unique</b> content addressing mechanism</li>
                <li><b>unique</b> first-class citizens of timelines, i.e., spacetime</li>
                <li><b>unique</b> distributed computation identity (planned)</li>
            </ul>

        </section>

        <section>

            <h2>About Me, William Raiford</h2>

            <aside>

                <b>Lifelong</b> obsession of distributed computation and its relationship to lifelong learning.

            </aside>

            <p>

                I live in San Antonio, TX, with my wife of 26 years, two dogs,
                three + two cats, two chickens, and numerous plants and trees.
                After surmounting burnout, induced by programming 16+ hours a day
                both as an Air Force contractor and an ibgib creator, I have
                been unable to do anything other than focus on ibgib for the
                past decade. All other approaches are inherently limited and
                short-sighted.

            </p>

        </section>

    </article>
</div>
