<div id="text-editor-component" class="">
    <!-- have these both as panel-header just as a kluge to get the tabs to look
    decent without bigger rewrite/investigation -->
    <div id="text-editor-header" class="text-editor-header panel-header">
        <h2 id="text-editor-name">text name loading...</h2><span id="text-editor-version"></span>
        <p id="text-editor-description">text description loading...</p>
        <!-- <div id="text-editor-header-tabs" class="text-editor-header-tabs panel-header"> -->
        <!-- looks something like this atow when dynamically added -->
        <!--
            <span id="text-editor-tab-button-{addr}" class="panel-tab-button active" title="untitled">
                untitled
            </span>
            -->
        <!-- </div> -->
        <!-- <button id="text-editor-header-add-btn" class="tab-btn">+</button> -->
    </div>

    <div id="text-editor-content">

        <textarea id="text-editor"></textarea>

    </div>

    <div id="text-editor-footer" class="text-editor-footer" style="display: none">
        <!-- <textarea id="text-editor-agent-input" class="agent-input" placeholder="text agent loading..."
            readonly></textarea> -->
        <!-- <button id="text-editor-agent-input-send-btn" class="send-btn"><b>❯</b></button> -->
    </div>
</div>
