/* Basic layout and styling for the project component */
#breadcrumb-component {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 3px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    /* Use consistent padding */
    padding: 1%;

    /* Optional: If using flexbox to control vertical alignment */
    /* justify-content: center;  Align content vertically */

}
