:host {
    /* this is used for styling ibgib components for multi-view coordination, so
     * that ibgib views that are looking at the same ibgib can be visibly shown
     * as doing so. */
    --ibgib-color: #ff00dd;
    --ibgib-color-translucent: #ff00dd10;
    --tjp-color: #00ffae;
    --tjp-color-translucent: #00ffae10;
    /* hardcoded tmp */
    border-radius: 25px;
    cursor: pointer;
}

/* Basic layout and styling for the explorer-item component */
#explorer-item-component {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
    /* Use consistent padding */
    padding: 1%;

    /* ibgib styling */
    border: var(--tjp-color) 5px solid;
    box-shadow: 0 0 10px var(--tjp-color);
    border-radius: 5px;

    /* Optional: If using flexbox to control vertical alignment */
    /* justify-content: center;  Align content vertically */

    #explorer-item-header {
        display: flex;
        flex-direction: column;


    }

    #explorer-item-content {

        #explorer-item-name {
            font-weight: bold;
            margin: 0;
            /* font-size: larger; */
            /* Use variables for spacing? */
            /* margin-bottom: 0.5em; */
        }

    }


}
