<div id="projects-explorer-component" class="">
    <!-- have these both as panel-header just as a kluge to get the tabs to look
    decent without bigger rewrite/investigation -->
    <div id="projects-explorer-header" class="projects-explorer-header panel-header">
        <h3>🚧WIP🚧</h3>
    </div>

    <div id="projects-explorer-content">
        <ul>
            <li><a href="#/apps/web1/gib/about-projects.html">ⓘ About Projects</a></li>
            <li><a href="#/apps/projects/gib/projects">new "project"</a></li>
        </ul>
        <input id="project-list-filter" placeholder="🔍..." />
        <ul id="project-list" class="project-list">
            <!-- This is just a stub of a content for a project list -->
            <!-- Project/Agent list items -->
            <!-- <li><a href="#/apps/web1/gib/about-projects.html">ⓘ About Projects</a></li>
              <li><a href="#/apps/projects/gib/projects">new "project"</a></li> -->
            <!-- <li><a href="#/apps/projects/gib/canvas">ai canvas playground</a></li> -->
        </ul>

        <!-- todo: insert projects-explorer-content depending on which tab is active -->
        <!-- <canvas id="ibgib-canvas" width="1000" height="1000"></canvas> -->

    </div>

    <div id="projects-explorer-footer">
    </div>
</div>
