:host {
    /* this is used for styling ibgib components for multi-view coordination, so
     * that ibgib views that are looking at the same ibgib can be visibly shown
     * as doing so. */
    --ibgib-color: #ff00dd;
    --ibgib-color-translucent: #ff00dd10;
    --tjp-color: #00ffae;
    --tjp-color-translucent: #00ffae10;
    --close-tab-button-width: 20px;
}

#chronologys-component {
    --footer-panel-background-color: var(--button-background-color);
    --footer-panel-border-color: var(--button-border-color);
    --footer-panel-border-radius: 4px;

    /* debug add border style */
    border-width: 2px;
    border-color: var(--primary-border-color-dark);
    border-style: solid;
    border-radius: 2px;
    padding: 1%;

    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    #chronologys-header {
        height: 5%;
        overflow: hidden;
        /* flex-shrink: initial; */

        #chronologys-header-tabs {
            overflow-x: auto;
            width: 90%;
            /* scrollbar-color: rgba(16, 237, 35, 0.241) rgb(28, 109, 239); */
            scrollbar-width: thin;
            scrollbar-gutter: stable;
            margin-bottom: -1%;

            /* .panel-tab-button.active {
                border-color: var(--ibgib-border-color) !important;
            } */

            /* header tab "button" (span) that has a child span (close "X" button) */
            span:has(span) {
                padding-right: calc(var(--close-tab-button-width) * 1.35);
            }
        }

        button {
            width: auto;
            height: 75%;
            aspect-ratio: 1/1 !important;
        }

        button:hover {
            border-width: 2px;
            background-color: var(--button-hover-background-color);
            color: var(--button-hover-text-color);
            border-color: var(--button-hover-border-color);
        }

        .close-tab-button {
            cursor: pointer;
            box-sizing: border-box;
            position: absolute;
            top: 5px;
            right: 5px;
            background-color: rgba(255, 0, 0, 0.7);
            color: white;
            border: none;
            border-radius: 50%;
            width: var(--close-tab-button-width);
            height: 20px;
            font-size: 10px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 1;
            /* Ensure button is above content */
        }

        .close-tab-button:hover {
            border-width: 3px;
            background-color: #ff00cf;
            color: var(--button-hover-text-color) !important;
            border-color: var(--button-hover-border-color);
            border-style: solid;
        }
    }

    #chronologys-content {
        height: 95%;
        width: 100%;
    }

    #chronologys-footer {
        display: none;
    }
}
