<div id="chronologys-component" class="">
    <!-- have these both as panel-header just as a kluge to get the tabs to look
    decent without bigger rewrite/investigation -->
    <div id="chronologys-header" class="chronologys-header panel-header">
        <span id="chronologys-header-busy-indicator" class="busy-indicator spinning" style="display:none"
            title="still busy...hold on a sec..."><b>◐</b></span>
        <div id="chronologys-header-tabs" class="chronologys-header-tabs panel-header">
            <!-- looks something like this atow when dynamically added -->
            <!--
            <span id="chronologys-tab-button-{addr}" class="panel-tab-button active" title="untitled">
                untitled
            </span>
            -->
        </div>
    </div>

    <div id="chronologys-content">

        <!-- todo: insert chronologys-content depending on which tab is active -->
        <!-- <canvas id="ibgib-canvas" width="1000" height="1000"></canvas> -->

    </div>

    <div id="chronologys-footer" class="chronologys-footer">
        <!-- <textarea id="chronologys-agent-input" class="agent-input" placeholder="loading..." readonly></textarea>
        <button id="chronologys-agent-input-send-btn" class="send-btn"><b>❯</b></button> -->
    </div>
</div>
