<div id="web1-page-home" class="web1-page">

    <article>

        <h1><b>NEW, AI-FIRST Version Control Paradigm</b></h1>

        <section>

            <h2>ibgib is...</h2>

            <aside>All previous coding paradigms will be dwarfed by AI-first <b>version control</b>.</aside>

            <p>

                a new and unique DLT protocol to enable new and unique
                distributed computing in the age of AI. This means a <i>genuinely</i>
                new and innovative collaboration paradigm among humans and AI,
                and <i>that</i> will create an exponential growth of src +
                derivates + metadata, both by humans and AI <b>together</b>.

            </p>
        </section>

        <section>

            <h2>git was...</h2>

            <aside>all git-based solutions will be obselete by 2030</aside>

            <p>

                the greatest piece of software over the last 20 years by market
                and mindshare. <b>No one even thinks about not using it.</b> But
                git simply is not granular enough for the AI era without serious
                kluging.

            </p>

        </section>

        <section>

            <h2>You must focus...</h2>
            <aside>

                <iframe src="https://www.youtube.com/embed/Ev80GGP5VNc?si=XMu9tnENL7tb5EDF&amp;start=390"
                    title="Excellent video by Hanno Embregts showing version control systems on timeline depicting mobile phone style at the time. git is at 2005 and NOTHING is after this. That's 20 years!"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

            </aside>

            <p>

                on an AI-FIRST <b>Version Control
                    Paradigm</b> - even if it's not ibgib. Watch <b>JUST 20
                    seconds</b> of this video - the only VCS
                being built since 2005. <b>THAT'S 20+ YEARS AGO!!</b>

            </p>

        </section>

        <section>

            <h2>AI coding is...</h2>

            <aside><b>Every</b> AI tool falls short on non-trivial solutions.</aside>

            <p>

                speculative at best. A ground-up rewrite of version control
                with AI as a first-class citizen is today's missing ingredient
                to truly effective agentic systems. And thanks to git's
                overpowering success as literally (literally!) the world's
                greatest software ever written and consequently the greatest
                software monopoly, this is an <b>ENORMOUSLY UNDERRATED</b>
                opportunity.

            </p>

            <p>

                So click on the Projects tab and get started.

            </p>

        </section>


    </article>



</div>
