<div id="web1-page-challenges" class="web1-page">

    <article>

        <h1>Challenges</h1>

        <section>

            <h3><i>technical challenges</i></h3>

            <section>

                <aside>identity</aside>

                <p>

                    
                </p>

            </section>

        </section>

        <section>

            <h3>non-technical challenges 🙄</h3>

            <section>

                <aside>resource allocation</aside>

                <p>

                    I first started with ibgib's unique content addressing schema
                    over a decade ago. Even the first iteration had...

                </p>

                <ul>
                    <li>per-use-case `ib` metadata</li>
                    <li>^ delimiter</li>
                    <li>`gib` cryptographic hash</li>
                </ul>

                <p>

                    What it did NOT have was the Temporal Junction Point - an
                    absolutely crucial aspect that enables time as the first-class
                    citizen (something that no other DLT protocol has). Since I was
                    isolated with no help or users, the downsides of solitude came
                    with the upside of agility.

                </p>

                <p>

                    But now, after several more years, the protocol is quite stable
                    for v1, and there is no more upside to this process. When I troubleshoot css for this website, I
                    which
                    could easily be
                    handed off to a regular developer, especially even with today's
                    AI tools.

                </p>

                <p>

                    But there are architectural challenges that still require my
                    active attention.

                </p>
            </section>
        </section>

    </article>



</div>
