<div id="canvas-component" class="canvas-component">
    <!-- width/height 1000 somewhat arbitrary at this point. trying to determine
    if it affects blurriness of the text objects. -->
    <div id="canvas-content">
        <canvas id="ibgib-canvas" width="1000" height="1000"></canvas>
    </div>

    <div id="canvas-footer-panel" class="canvas-footer-panel">
        <!-- <textarea id="canvas-agent-input" class="agent-input" placeholder="loading..." readonly></textarea>
        <button id="canvas-agent-input-send-btn" class="send-btn"><b>❯</b></button> -->
    </div>
</div>
